{% if current_user.is_authenticated %}


<meta http-equiv="Refresh" content="1; url=/">
{% else %}
{% extends 'layout.html' %}

{% block body %}


<style>



</style>

<div class="gallerycontainer text-center">
 <h1>How Art Thou</h1>
 <p class="gallerycontainer"></p>
</div>


<div class="gallerycontainer text-center">
<form class="admin text-center" action='login' Method="POST">
<br><br><br>
Username: <input type='text' name='email' id='email' placeholder='Username'/><br><br>
Password: <input type='password' name='password' id='password' placeholder='Password'/><br><br>
<input value="Login" type='submit' name='submit'/><br><br><br>
</form></div>


{% endblock %}
{% endif %}
